body
{
    background-color: black !important;
}
img
{
    display: block !important;
    margin: auto !important;
}
/* button#btnDelete.btn.btn-danger
{
    margin-right: 15px !important;
    margin-top: 5px !important;
}
button#btnLogin.btn.btn-primary
{
    margin-right: 15px !important;
    margin-top: 5px !important;
}
button#btnRegister.btn.btn-success
{
    margin-right: 15px !important;
    margin-top: 5px !important;
}
kbd#textNewUser
{
    font-size: 14px !important;
    background-color: blue !important;
    margin-right: 10px !important;
}
kbd#textLoginUser
{
    font-size: 14px !important;
    background-color: crimson !important;
    margin-right: 10px !important;
} */
.jumbotron
{
    border-radius: 15px 0 15px 0 !important;
    background-color: salmon !important;
    margin-top: 20px !important;
}

.help-block
{
    float: left !important;
    height: 25px !important;
    width: 100% !important;
    text-align: center !important;
    font-size: 20px !important;
    background-color: lightcoral !important;
    border-radius: 15px 15px 15px 15px !important;
}
#name
{
    border-left: 6px solid red !important;
}
#surname
{
    border-left: 6px solid red !important;
}
#surname2
{
    border-left: 6px solid red !important;
}
#email
{
    border-left: 6px solid red !important;
}
#password
{
    border-left: 6px solid red !important;
}
div.modal-footer b
{
    padding-right: 8px !important;
}

