.jumbotron
{
  border-style: dotted !important;
  border-width: 4px !important;
  height: 240px !important;
}
button#logPicture.btn.btn-default
{
  color: blue !important;
  background-color: beige !important;
  float: right !important;
}
h2#title
{
  font-style: oblique !important;
  font-size: xx-large !important;
  color: chocolate !important;
}
figure#tableBook
{
  border-radius: 15px 0 15px 0 !important;
  border-style: dotted !important;
  border-width: 4px !important;
  background-color: gray !important;
}
figure#searchBook
{
  border-radius: 15px 0 15px 0 !important;
  border-style: dotted !important;
  border-width: 4px !important;
  background-color: gray !important;
}
figure#aboutBook
{
  border-radius: 15px 0 15px 0 !important;
  border-style: dotted !important;
  border-width: 4px !important;
  background-color: gray !important;
}
figcaption#textBook.figure-caption
{
  color: white !important;
}
figcaption#textSearchBook.figure-caption
{
  color: white !important;
}
figcaption#textAboutBook.figure-caption
{
  color: white !important;
}
footer
{
  border-style: dotted !important;
  border-width: 4px !important;
}
