<!DOCTYPE html>
<html>

<head>
  <title>Library System | Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/index_styles.css" rel="stylesheet">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/fontAwesome5.0.13/web-fonts-with-css/css/fontawesome-all.css">
  <script src="js/AngularJS/angular.min.js"></script>
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</head>

<body ng-app="">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">Library System</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active">
            <a class="fas fa-globe" href="index.html"> Home </a>
          </li>
          <li class="dropdown">
          </li>
          <li>
            <a class="fas fa-bullseye" data-toggle="modal" href="#myModal"> About this Project </a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a class="fas fa-trash-alt" data-toggle="modal" href="#deleteModal"> Delete a User </a>
          </li>
          <li>
            <!-- <kbd id="textLoginUser">Already have a account?</kbd> -->
            <a class="fas fa-sign-in-alt" data-toggle="modal" href="#loginModal"> Login </a>
          </li>
          <li>
            <!-- <kbd id="textNewUser">New User?</kbd> -->
            <a class="fas fa-user" data-toggle="modal" href="#registerModal"> Register </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <img src="src/fondo.jpg">
      </div>
      <div class="item">
        <img src="src/fondo2.jpg">
      </div>
      <div class="item">
        <img src="src/fondo3.jpg">
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span>
        <i class="fas fa-arrow-left"></i>
      </span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span>
        <i class="fas fa-arrow-right"></i>
      </span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="jumbotron">
    <center>
      <h3>Welcome to the Library System!</h3>
    </center>
    <p>
      <center>
        <h4>
          <kbd>In this page, you will find a lot of Books for everyone with the better price!</center>
      </kbd>
      </kbd>
    </p>
    <center>
      <i class="fab fa-github fa-3x"></i>
    </center>
    <center>
      <a target="_blank" href="https://github.com/IngAngelQuezada/LibrarySystem">Click to go the GitHub Source Code</a>
    </center>
  </div>
  <!-- LOGIN MODAL-->
  <div class="modal fade" id="loginModal" role="dialog">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="fas fa-edit" class="modal-title"> Login </h4>
        </div>
        <div class="modal-body">
          <form name="loginForm" action="php/login.php" method="POST" autocomplete="off">
            <div class="form-group">
              <label for="usr">Email:</label>
              <input type="email" class="form-control" placeholder="email@other.com" id="email" name="txtEmail" required placeholder="Enter your Email"
                oninvalid="this.setCustomValidity('Enter your Email Here')" oninput="setCustomValidity('')" ng-model="txtEmail">
                  <span style="color: crimson" ng-show="loginForm.txtEmail.$valid == false && loginForm.txtEmail.$touched" class="help-block">Email is required.</span>
                <!--
                <div class="EmailRequired">
                  <span style="Color: crimson" ng-show="loginForm.txtEmail.$touched && loginForm.txtEmail.$invalid">The Email is required.</span>
                </div>
              -->
            </div>
            <div class="form-group">
              <label for="pass">Password:</label>
              <input type="password" class="form-control" placeholder="Password" id="password" name="txtPassword" required placeholder="Enter your Password"
                oninvalid="this.setCustomValidity('Enter your Password Here')" oninput="setCustomValidity('')" ng-model="txtPassword" ng-minlength="6">
                <span style="color: crimson" ng-if="!loginForm.txtPassword.$valid && loginForm.txtPassword.$touched" class="help-block">Password is too Short or is Empty.</span>
              </div>
        </div>
        <div class="modal-footer">
          <b>Forgot your Password?</b>
          <input type="button" id="closeModalLogin" class="btn btn-warning" data-toggle="modal"
            data-target="#ResetModal" value="Reset Password">
          <input type="submit" class="btn btn-primary" id="btnLogin" value="Login" ng-disabled="loginForm.$invalid">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  <!-- REGISTRO MODAL-->
  <div class="modal fade" id="registerModal" role="dialog">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="fas fa-edit" class="modal-title"> Register </h4>
        </div>
        <div class="modal-body">
          <form action="php/register.php" method="POST" autocomplete="off">
            <div class="form-group">
              <label for="Name">Name:</label>
              <input type="text" class="form-control" placeholder="Type your Name" id="name" name="txtName" required placeholder="Enter your Name"
                oninvalid="this.setCustomValidity('Enter your Name Here')" oninput="setCustomValidity('')">
            </div>
            <div class="form-group">
              <label for="Surname">Surname:</label>
              <input type="text" class="form-control" placeholder="Type your Surname" id="surname" name="txtSurname" required placeholder="Enter your Surname"
                oninvalid="this.setCustomValidity('Enter your Surname Here')" oninput="setCustomValidity('')">
            </div>
            <div class="form-group">
              <label for="2Surname">Second Surname:</label>
              <input type="text" class="form-control" placeholder="Type your second Surname" id="surname2" name="txtSurname2" required
                placeholder="Enter your second Surname" oninvalid="this.setCustomValidity('Enter your second Surname Here')"
                oninput="setCustomValidity('')">
            </div>
            <div class="form-group">
              <label for="Email">Email:</label>
              <input type="text" class="form-control" placeholder="Type your Email" id="email" name="txtEmail" required placeholder="Enter your Email"
                oninvalid="this.setCustomValidity('Enter your Email Here')" oninput="setCustomValidity('')">
            </div>
            <div class="form-group">
              <label for="Password">Password:</label>
              <input type="password" class="form-control" placeholder="Type your Password" id="password" name="txtPassword" required placeholder="Enter your Password"
                oninvalid="this.setCustomValidity('Enter your Password Here')" oninput="setCustomValidity('')">
            </div>
        </div>
        <!--Cierre Modal Body-->
        <div class="modal-footer">
          <input type="submit" class="btn btn-primary" value="Register">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  <!--RESET PASSWORD-->
  <div id="ResetModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="fas fa-edit" class="modal-title"> Change Password </h4>
        </div>
        <div class="modal-body">
          <form action="php/update.php" method="POST" autocomplete="off">
            <div class="form-group">
              <label for="Email">Email:</label>
              <input type="text" class="form-control" placeholder="Type your Email" id="email" name="txtEmail" required placeholder="Enter your Email"
                oninvalid="this.setCustomValidity('Enter your Email Here')" oninput="setCustomValidity('')">
            </div>
            <div class="form-group">
              <label for="Password">Password:</label>
              <input type="password" class="form-control" placeholder="Type your New Password" id="password" name="txtPassword" required
                placeholder="Enter your New Password" oninvalid="this.setCustomValidity('Enter your New Password Here')" oninput="setCustomValidity('')">
            </div>
        </div>
        <div class="modal-footer">
          <input type="submit" class="btn btn-success" value="Update Password">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  <!--DELETE ACCOUNT-->
  <div id="deleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="fas fa-edit" class="modal-title"> Delete Account </h4>
        </div>
        <div class="modal-body">
          <form action="php/delete.php" method="GET">
            <div class="form-group">
              <label for="Email">Email:</label>
              <input type="text" class="form-control" placeholder="Type your Email" id="email" name="txtEmail" required placeholder="Enter your Email"
                oninvalid="this.setCustomValidity('Enter your Email Here')" oninput="setCustomValidity('')">
            </div>
            <div class="form-group">
              <label for="Password">Password:</label>
              <input type="password" class="form-control" placeholder="Type your Password" id="password" name="txtPassword" required placeholder="Enter your Password"
                oninvalid="this.setCustomValidity('Enter your Password Here')" oninput="setCustomValidity('')">
            </div>
        </div>
        <div class="modal-footer">
          <input type="submit" class="btn btn-warning" value="Delete Account">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  <footer class="page-footer font-small unique-color-dark pt-0">
    <div style="background-color: #6351ce;">
      <div class="container">
      </div>
      <div class="footer-copyright py-3 text-center">
        © 2018 Copyright:
        <strong>|Miguel Angel Quezada Galván|</strong>
        </a>
      </div>
    </div>
  </footer>
  <script type="text/javascript">
    $(document).ready(function () {
      // Show the Modal on load
      $("#loginModal").modal("show");
      // Hide the Modal
      $("#closeModalLogin").click(function () {
        $("#loginModal").modal("hide");
      });
    });
    $(document).ready(function()
    {
      //JQuery Change color input
      $("input").focus(function(){
        $(this).css("background-color","#A9F5A9");
      });
      /*
      $("input").blur(function(){
        $(this).css("background-color","#A9A9F5");
      });
      */
    });
  </script>
</body>
</html>